# Database (Turso)
DATABASE_URL="libsql://seu-banco-nome.turso.io"
TURSO_AUTH_TOKEN="seu-token-aqui"

# Auth
AUTH_SECRET="gere-com-openssl-rand-base64-32"
AUTH_URL="https://seu-app.vercel.app"

# Lowify (pagamentos)
LOWIFY_CHECKOUT_URL="https://pay.lowify.com.br/checkout?product_id=Jz6grx"
LOWIFY_WEBHOOK_SECRET=
